<div style="padding: 5rem">
  <div class="card testimonial">
    <div class="grid grid--cols-2">
      <div class="testimonial__image">
        <img
          class="image--container"
          src="images/pexels-olly-3769021.jpg"
          alt="A happy costumer"
        />
        <span class="icon-container">
          <img
            class="icon icon--primary"
            src="images/quote-svgrepo-com (1).svg"
            alt=""
          />
        </span>
      </div>

      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A ex
          voluptatum mollitia necessitatibus nesciunt officia eius obcaecati
          culpa quisquam magni.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <img src="images/minus.png" alt="" />
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__company">ABC Companny</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
